.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 92px 24px 96px;
    background-color: #fff;
}

.header__menu {
    padding: 44px 30px 39px 26.52px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    font-size: 17.8px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 4px;
}

.header__link {
    text-decoration: none;
    letter-spacing: 0.1px;
}

.header__link_active {
    border-bottom: 1px solid;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    padding: 5px 30px 2px 186px;
    font-size: 18px;
    line-height: 24px;
}

.address {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    line-height: 24.5px;
}

.address_decoration {
    text-decoration: underline;
    text-decoration-style:solid;
    text-underline-offset: 5px;
}

.cover {
    position: relative;
    max-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: top;
}

.overlay {
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 100px;
    padding-top: 165px;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
    padding-left: 50px;
}

.aligned-text_center {
    text-align: center;
    padding-top: 9px;
    padding-right: 49px;
}

.aligned-text_right {
    text-align: right;
    padding-top: 2px;
    padding-right: 20px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    padding-top: 127px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    padding-top: 15px;
    padding-left: 78px;
    padding-bottom: 62px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18.5px;
}

.bet-button {
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    width: 257px;
    height: 52px;
    margin-left: 79px;
    cursor: crosshair;
}

.lots {
    padding: 179px 24px 35px 24px;
    background-color: white;
}

.lots__heading {
    font-size: 40px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    padding-top: 27px;
    list-style-type: none;
    gap: 25px;
}

.lots__card-list-item {
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
    min-height: 100%;
}

.card {
    position: relative;
    width: 334px;
    height: 100%;
    background-size: cover;
    background-position: top;
    padding: 52px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    color: #fff;
    z-index: 2;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
}

.card__text {
    display: flex;
    position: relative;
    color: #fff;
    z-index: 2;
    font-size: 20px;
}

.lots__look-more-link {
    display: flex;
    padding: 30px 0px 0px 41px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-style:solid;
    text-underline-offset: 5px;
}

.about {
    background-color: #fff;
    padding: 146px 24px 84px 24px;
    display: grid;
    grid-template-columns: 312px auto;
}

.about__column {
    padding-left: 46px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    row-gap: 24px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 92px 24px 96px;
    background-color: #fff;
}

.footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    padding: 5px 190px 2px 27px;
    font-size: 18px;
    line-height: 24px;
}

.address {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    line-height: 24.5px;
}

.address_decoration {
    text-decoration: underline;
    text-decoration-style:solid;
    text-underline-offset: 5px;
}

.footer__menu {
    padding-top: 6px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 17.8px;
    align-items: center;
}

.footer__menu-list-item {
    list-style: none;
    padding-left: 4px;
}

.footer__menu-link {
    text-decoration: none;
    letter-spacing: 0.1px;
    border-bottom: 1px solid;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    padding-top: 6px;
    padding-left: 183px;
    display: flex;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}


